/*border: 2px solid gold;*/

body {
    margin: 5px;
}

#header {
    width: 100%;
    margin: 0, auto;
    /*margin-bottom: 1em;*/
    text-align: center;
    /*padding: 1em;*/
}

.title {
    width: 100%;
    margin: 0, auto;
    margin-bottom: 1em;
    text-align: center;
    padding: 1em;
}

.titletext {
    font-weight: bold;
    font-size: 1.25em;
    margin-right: .25em;
}

#alert {
    height: 100px;
    overflow: scroll;
}

#content {
    max-width: 1080px;
    margin: auto;
}

.container {
    float: left;
}

.column {
    overflow: hidden;
}

.column img {
    max-width: 100%;
    height: auto;
}

.slot {
    width: 80%;
    font-size: 1em;
    border: 1px solid #ccc;
    display: block;
    margin: auto;
    line-height: 1.5em;
    background-color: #fee;
}


button {
    font-size: 1em;
    line-height: 1.5em;
    margin: 2px;
    margin-left: .5em;
    clear: left;
    float: left;
    border: 1px solid #d4d4d4;
    border-bottom-color: #bcbcbc;
    border-radius: 4px;
    /*-webkit-border-radius: 4px;*/
    background: -webkit-linear-gradient(#fafafa,#eaeaea);
}

.goButton {
    float: none;
    clear: none;
    margin: 1em;
    font-size: 2em;
    border: 2px solid #bbb;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.goButton:hover {
    top: -5px;
    color: white;
}
.goButton:focus {
    outline:0;
    background-color: white;
}
#goButton {
    background: none;
    background-color: #ccffcc;
}
#stopButton {
    background: none;
    background-color: #ffcccc;
    display: none;
}

button.chooser {
    float: none;
}

#examples {
    font-size: .9em;
}

#examples a {
    color: #aaa;
}

#progress {
    height: 6px;
    border: 1px solid lightgray;
}
#progressbar {
    height: 100%;
    float: left;
    background-color: #33ee33;
}
#progressTop {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    height: 10px;
    border: 1px solid lightgray;
    background-color: #f8f8f8;
    visibility: hidden;
    z-index: 999;
}
#progressbarTop {
    height: 100%;
    float: left;
    background-color: #33ee33;
    z-index: 1000;
}

#mapdiv {
    background: rgba(0, 0, 0, 0);
    visibility: hidden;
    position: absolute;
}

.mapFrame {
    border: 2px solid gold;
    position: fixed;
    opacity: 0;
}

canvas {
    visibility: hidden;
    position: absolute;
    display: none;
}
#tests {
    margin: auto;
}
.test {
    width: 100%;
    clear: both;
    float: left;
    margin: .5em auto;
    position: relative;
}

.header {
    clear: both;
}

.testname {
    clear: both;
    font-size: 1.25em;
    margin-bottom: -.25em;
}

.column {
    width: 25%;
    float: left;
    position: relative;
}

.controls {
    width: 25%;
    float: left;
}

.matchScore {
    font-size: 2em;
    margin-top: .25em;
}

.timeout {
    margin: 0 auto;
    position: absolute;
    top: 45%;
    font-size: 2em;
    width: 93%;
    text-align: center;
}
input[type="checkbox"] {
    opacity: 1 !important;
    display: inline;
    position: relative;
    top: 5px;
}

.done h2 {
    text-align: center;
    background-color: white;
    padding-bottom: 50px;
    width: 100%;
}
